# %% Region: '{{ group.title }}'
"""{% if group.description %}
{{ group.description }}
{% endif %}
link: https://core.telegram.org/bots/api#{{ group.anchor }}
"""
{% for entity in group.childs %}{% if entity.is_type %}
{% include 'type.py.jinja2' %}
{% endif %}{% endfor %}
# %% End of region '{{ group.title }}'
