root = true

[**]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 99

[**.{yml,yaml,json}]
indent_size = 2

[**.{md,txt,rst}]
trim_trailing_whitespace = false

[**.rst]
indent_size = 2
