-r requirements.txt

ujson==5.5.*
python-rapidjson==1.8
emoji==2.1.*
pytest==7.1.*
pytest-asyncio==0.19.*
tox==3.26.*
aresponses==2.1.*
aioredis==2.0.*
redis[hiredis]>=4.3,<4.4
wheel>=0.31.*
Sphinx==5.1.*
sphinx-rtd-theme==1.0.*
sphinxcontrib-programoutput==0.17
aiohttp-socks==0.7.*
rethinkdb==2.4.*
coverage==6.4.*
motor==3.0.*
pytest-lazy-fixture==0.6.*
