-r requirements.txt

ujson>=1.35
python-rapidjson>=0.7.0
emoji>=0.5.2
pytest>=4.4.1,<4.6
pytest-asyncio>=0.10.0
tox>=3.9.0
aresponses>=1.1.1
uvloop>=0.12.2
aioredis>=1.2.0
wheel>=0.31.1
sphinx>=2.0.1
sphinx-rtd-theme>=0.4.3
sphinxcontrib-programoutput>=0.14
aiohttp-socks>=0.2.2
rethinkdb>=2.4.1
