[tool.poetry]
name = "aiogram"
version = "3.0.0-alpha.1"
description = "modern and fully asynchronous framework for Telegram Bot API"
authors = ["Alex Root Junior <jroot.junior@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://aiogram.2038.io/"
documentation = "https://aiogram.2038.io/"
repository = "https://github.com/aiogram/aiogram/"
keywords = []
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Console",
  "Framework :: AsyncIO",
  "Intended Audience :: Developers",
  "Intended Audience :: System Administrators",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Topic :: Software Development :: Libraries :: Application Frameworks",
]

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "^3.6"
pydantic = "^1.2"
Babel = "^2.7"
aiofiles = "^0.4.0"
uvloop = {version = "^0.14.0", optional = true}
async_lru = "^1.0"

[tool.poetry.dev-dependencies]
uvloop = "^0.14.0"
pytest = "^5.3"
pytest-html = "^2.0"
pytest-asyncio = "^0.10.0"
pytest-mypy = "^0.4.2"
pytest-mock = "^1.13"
pytest-cov = "^2.8"
aresponses = "^1.1"
asynctest = "^0.13.0"
black = {version = "^18.3-alpha.0", allow-prereleases = true}
isort = "^4.3"
flake8 = "^3.7"
flake8-html = "^0.4.0"
mypy = "^0.750"
mkdocs = "^1.0"
mkdocs-material = "^4.6"
mkautodoc = "^0.1.0"
pygments = "^2.4"
pymdown-extensions = "^6.1"
lxml = "^4.4"
ipython = "^7.10"

[tool.poetry.extras]
fast = ["uvloop"]

[tool.black]
line-length = 99
target-version = ['py37', 'py38']
exclude = '''
(
    \.eggs
  | \.git
  | \.tox
  | build
  | dist
  | venv
  | docs
)
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 99

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
