{{ object.name|header('#') }}
{{ object.name }}
{{ object.name|header('#') }}


.. automodule:: aiogram.types.{{ object.name|pythonize_name }}
    :members:
    :member-order: bysource
    :undoc-members: True
    :exclude-members: model_config,model_fields
