name: "Deploy"

on:
  push:
    tags:
      - 'v3.*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Resolve version
        id: package-version
        run: echo "value=$(echo ${{ github.ref }} | sed -e 's/refs\/tags\/v//')" >> $GITHUB_OUTPUT

      - name: Build distribution
        run: uv build

      - name: Try install wheel
        run: |
          pip install -U virtualenv
          mkdir -p try_install
          cd try_install
          virtualenv venv
          venv/bin/pip install ../dist/aiogram-*.whl
          venv/bin/python -c "import aiogram; print(aiogram.__version__)"
      - name: Publish artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/*

  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/aiogram/${{ steps.package-version.outputs.value }}/
    permissions:
      id-token: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
